@import 'fonts.scss';
@import 'colors.scss';
@import 'buttons.scss';

.container {
  //background: $white;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  //overflow-y: clip;
}
