@import 'colors.scss';
@import 'fonts.scss';
@import 'buttons.scss';
@import 'animations.scss';

.netConstructor:not(.changePriority):not(.changePriority1) {
  height: 100%;
  flex: 1;
  & > * {
    height: 100%;
  }
  position: relative;
}

.optionsMenu {
  position: absolute;
  bottom: 20px;
  right: 180px;
  & > * > * {
    height: min-content;
  }
}

.addMenu {
  position: absolute;
  bottom: 20px;
  right: 20px;
  & > * > * {
    height: min-content;
  }
}

.addMenuIcon {
  cursor: pointer;
}

.addMenuItem {
  cursor: pointer;
}

.sizer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.startBtn:not(.changePriority):not(.changePriority) {
  position: absolute;
  bottom: 20px;
  right: 340px;
}

.textLight {
  color: white;
}
