@import 'fonts.scss';

html,
body {
  overflow-x: auto !important;
  min-width: 900px !important;
  & > * {
    overflow-x: auto !important;
    min-width: 900px !important;
  }
  padding: 0;
  margin: 0;
  /*font-family: $font-main, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

pre {
  margin: 0;
}
