@import 'fonts.scss';
@import 'sizes.scss';
@import 'animations.scss';
@import 'buttons.scss';
@import 'colors.scss';

.main:not(.changePriority) {
  & > main {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@include mobile();
