@import 'fonts.scss';
@import 'sizes.scss';
@import 'animations.scss';
@import 'buttons.scss';
@import 'colors.scss';

.main:not(.changePriority) {
  & > main {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
    max-height: 100vh;
    //min-height: 400px;
  }
}

.content:not(.changePriority):not(.changePriority) {
  height: 100%;
}

.graphView:not(.changePriority):not(.changePriority1) {
  flex: 1;
}

@include mobile();
